
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Email">Email</label>
            {{input value=email id="email" placeholder=seller.email class="form-control"}}
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            {{input value=phone id="phone" placeholder=seller.phone class="form-control"}}
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            {{input value=description id="description" placeholder=seller.description class="form-control"}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action 'updatePortfolio' seller}}>Save changes</button>
      </div>
    </div>
  </div>
</div>
