.mail{
  margin-left: 20%;
  margin-top: -10%;
  max-width:100%;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
}
.images{
  width: 100%;
}
.footer{
  text-align: center;
}
.center{
  text-align: center;
}
.center1{
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  transition: 1000ms;
  color:green;
}
.center1:hover{
  transition: 1000ms;
  transform: scale(1.2);

}
.right{
  float: right;
}
.circle{
  border-radius: 50%;
    max-width:100%;
    max-height: 100%;
}
.maps{
  width: 100%;
  height: 40%;
}
/*styling for the image on index*/
.front{
  margin-left: 10%;
}
  @media screen and (orientation: portrait) {
    img.front { max-width: 90%; }
  }

  @media screen and (orientation: landscape) {
    img.front { max-height: 90%; }
  }
/*styling for the buttons on the index*/
.products{
  margin-top: 500px;
  margin-left: 40%;
}
.signup{
  margin-top: 500px;
}

.signupform {

  width: 50%;
  display: block;
  margin-left: 25%;
}
.signupform button{
  margin-left: 50%;
}
h1{
  text-align: center;
}

ul button{
  margin-top: 10%;
}
