@import "ember-searchable-select/style";
.mail{
  margin-left: 20%;
  margin-top: -10%;
  max-width:100%;
}
.myNav{
  background-color: #3CA103;
}
ul{
  list-style: none;
}
.logo{
  width: 20%;
}
#footer {
   position:inherit;
   margin-top: 50px;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
}
ul li{
  display: inline-block;
}
.images{
  width: 200px;
  height: 140px;
}

.images1{
  width: 100%;
  height: 180px;
}
.footer{
  text-align: center;

}
.center{
  text-align: center;
}
.center1{

  padding-left:20px;
  padding-right:20px;
  transition: 1000ms;
  color:green;
}
.center1:hover{
  transition: 1000ms;
  transform: scale(1.2);

}
.right{
  float: right;
}
.circle{
  border-radius: 50%;
    max-width:100%;
    max-height: 100%;
}
h3, h2{
  text-align: center;
}
.nav > li > a{
    background-color:#FFF;
}
.centerr{
  margin-left: 7%;
}
.centerrr{
  margin-left: -12%;
}
.image1{
  width: 100%;
}
.maps{
  width: 100%;
  height: 40%;
}
/*styling for the image on index*/
.front{
  margin-left: 12%;
  width: 70%;
}
  @media screen and (orientation: portrait) {
    img.front { max-width: 90%; }
  }

  @media screen and (orientation: landscape) {
    img.front { max-height: 90%; }
  }
/*styling for the buttons on the index*/
.products{
  // margin-top: 500px;
  // margin-left: 40%;
}
.signup{
  margin-top: 500px;
}

.signupform {

  width: 50%;
  display: block;
  margin-left: 25%;
}
.signupform button{
  margin-left: 50%;
}
h1{
  text-align: center;
}

ul button{
  margin-top: 10%;
}
.fg{
  float: left;
  margin: 10%;
  }

a{

  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: line-through;
}
.panel{
  height: 450px;
}
