
<div class="col-md-12">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6>Panel Name</h6>
      </div>
      <div class="panel-body">
        <img src="assets/images/orange.jpeg" class="images">
        <div class="center">
          <span class="label label-warning">KES 20</span>
          <span class="label label-success">2 crates</span>
          <span class="label label-info">Seller</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h6>Panel Name</h6></div>
      <div class="panel-body">
        <img src="assets/images/orange.jpeg" class="images">
        <div class="center">
          <span class="label label-warning">KES 20</span>
          <span class="label label-success">2 crates</span>
          <span class="label label-info">Seller</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6>Panel Name</h6>
      </div>
      <div class="panel-body">
        <img src="assets/images/orange.jpeg" class="images">
        <div class="center">
          <span class="label label-warning">KES 20</span>
          <span class="label label-success">2 crates</span>
          <span class="label label-info">Seller</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h6>Panel Name</h6></div>
      <div class="panel-body">
        <img src="assets/images/orange.jpeg" class="images">
        <div class="center">
          <span class="label label-warning">KES 20</span>
          <span class="label label-success">2 crates</span>
          <span class="label label-info">Seller</span>
        </div>
      </div>
    </div>
  </div>

</div>
{{outlet}}
