<div class="container-fluid">

  <div class="col-md-12">
    {{#parallax-content speed=0.5 height=500 }}
      <img src="assets/images/front.png"  alt="chota" class="front">
      {{/parallax-content}}
  </div>

</div>
<div class="cen">

</div>
<br/>
<div class="container-fluid">
  <h2>Why Use  <img src="assets/images/logo1.png"></h2>
    <br/>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-5">
      <img src="https://4kwallpapers.site/wp-content/uploads/2011/02/its-4-o-clock-1080p-hd.jpg" class="image1">
      </div>
      <div class="col-md-7">
        <h3>Beat Time and Convenience</h3>
        <p>Lorem ipsum dolor sit amet, ex graece invenire euripidis per. At cum mentitum recusabo moderatius.
          No wisi labores mel. Amet enim elaboraret est ea, habeo reque deterruisset sed no.
           Corpora elaboraret ex est, pri iudico qualisque voluptaria an, tempor indoctum hendrerit in nam.
           Tritani admodum at eum, per eu erat reque equidem, ea iudico electram has.

Quo natum definitionem ex, usu dicat consul similique at. Voluptua fabellas consequat vix eu,
vix an autem omnesque noluisse, qui eu possim copiosae referrentur. Mei aperiam necessitatibus ad.
 Quod modo maiorum sea te, detracto abhorreant quo et. Cum hendrerit gloriatur eu.</p>
      </div>
    </div>
    <br/>



    <div class="col-md-12">
        <br/>
        <hr>
      <div class="col-md-7">
        <h3>Quality products Straight from the Farm
        </h3>
        <p>Lorem ipsum dolor sit amet, ex graece invenire euripidis per. At cum mentitum recusabo moderatius.
          No wisi labores mel. Amet enim elaboraret est ea, habeo reque deterruisset sed no.
           Corpora elaboraret ex est, pri iudico qualisque voluptaria an, tempor indoctum hendrerit in nam.
           Tritani admodum at eum, per eu erat reque equidem, ea iudico electram has.

Quo natum definitionem ex, usu dicat consul similique at. Voluptua fabellas consequat vix eu,
 vix an autem omnesque noluisse, qui eu possim copiosae referrentur. Mei aperiam necessitatibus ad.
  Quod modo maiorum sea te, detracto abhorreant quo et. Cum hendrerit gloriatur eu.</p>
      </div>
      <div class="col-md-5">
        <img src="http://wallpapercave.com/wp/ZhQnwyY.jpg" class="image1">
      </div>
    </div>
  </div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/597a3b075dfc8255d623f4d0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
